.songs {
    margin: 20px -30px;
}

.song_icons {
    display: flex;
    align-items: center;
}


.song_icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.song_shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.song_shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}